{
	"extends": ["eslint-config-airbnb"],
  "rules": {
    "linebreak-style": "off",
    "no-underscore-dangle": "off",
    "one-var": "off"
  },
  "globals": {
    "window": true,
    "document": true
  }
}
